<footer class="footer">

  <section class="footer-logo-button">
    <section class="footer-logo">
      <a href="/"><img src="/assets/Logo-DDA.png" alt="Logo-DDA"></a>
    </section>
    <section class="footer-button">
      <a href="#">Lid worden</a>
    </section>
  </section>

  <section class="footer-mail">
    <h2>Nieuwsbrief ontvangen?</h2>
    <fieldset class="flex">
      <p>
        <label for="email">E-mailadres<span>*</span></label>
        <input type="email" id="email" name="email" required>
      </p>
    </fieldset>
  </section>

  <section class="footer-partners">
    <h2>Onze partners</h2>
    <a href="#">Partner 1</a>
    <a href="#">Partner 2</a>
    <a href="#">Partner 3</a>
  </section>

</footer>
