    <footer class="footer">

    <section class="footer-elements-links">
    <section class="footer-logo">
    <a href="/"><img src="/assets/Logo-DDA.png" alt="Logo-DDA"></a>
    </section>

    <section class="footer-button">
    <a href="#">Lid worden</a>
    </section>
    
    <section class="footer-elements-rechts">
    <section class="footer-mail">
      <h2>Nieuwsbrief ontvangen?</h2>
     <fieldset class="flex">
      <p>
        <label for="email">E-mailadres<span>*</span></label>
        <input type="text" id="email" name="email" required>
      </p>
    </fieldset>

    </section>

  </footer>
  
</body>
</html>