<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta en stylesheets toevoegen -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <!-- Externe stylesheet voor Font Awesome iconen -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <title>DDA vacaturesite</title>
  </head>
  <body>
    <header>
      <!-- Logo met link naar de homepage -->
      <a href="/"><img src="/assets/Logo-DDA.png" alt="Logo-DDA"></a>

      <!-- Navigatiebalk voor desktop -->
      <!-- <nav class="navigation">
        <ul class="navigation-list">
          <li><a class="menu-item" href="/agencies">Overzicht agencies</a></li>
          <li><a class="menu-item" href="/vactures">Vacatures</a></li>
          <li><a class="menu-item" href="#">Laatste nieuws</a></li>
          <li><a class="menu-item" href="#">Aankomende events</a></li>
          <li><a class="menu-item" href="#">Lid worden</a></li>
        </ul>
      </nav> -->

      <!-- Navigatiebalk voor mobiele apparaten -->
      <nav class="navigation-mobile">
        <!-- Hamburger menu voor mobiele navigatie -->
        <div class="hamburger-menu">
          <input id="menu-toggle" type="checkbox" />
          <label class="menu-btn" for="menu-toggle">
            <span></span>
          </label>
      
        <ul class="menu-box">
          <li><a class="menu-item" href="./agencies">Overzicht agencies</a></li>
          <li><a class="menu-item" href="./vacatures">Vacatures</a></li>
          <li><a class="menu-item" href="#">Laatste nieuws</a></li>
          <li><a class="menu-item" href="#">Aankomende events</a></li>
          <li><a class="menu-item" href="#">Lid worden</a></li>
          </ul>
        </div>
      </nav>

    </header>
  </body>
</html>