<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

    <section class="main-index">
        <section class="main-index-wrapper">
            <h2>Wie zijn wij?</h2>
            <p>Samen maken digitale bureaus de wereld om ons heen steeds een beetje slimmer. <span>Dutch Digital Agencies</span> is de branchevereniging voor de beste verslimmers uit de Nederlandse digitale industrie.</p>
            <a href="#">Word lid</a>
        </section>
    </section>

    <section class="main-index-article agencies">
        <section class="main-index-article-tekst">
            <h2>Agencies</h2>
            <p>Digitale bureaus zetten technologische uitdagingen om in oplossingen die elke gebruiker verder brengen. Dat doen ze met gebruiksvriendelijke apps en websites, betrouwbare platforms en krachtige campagnes. Leer onze leden kennen en ontdek welk bureau het beste bij je past.</p>
            <a href="#">Overzicht agencies</a> 
        </section>

    <section class="main-index-article vacatures">
        <section class="main-index-article-tekst">
            <h2>Vacatures</h2>
            <p>Verslim je carrière bij de beste digitale bureaus. Pak je rol als developer of designer, als scrum master of marketeer of als strateeg. Start of groei door, en laat zien wat je kan.</p>
            <p>Op zoek naar een stageplek? Ga dan naar het overzicht met stages.</p>
            <!-- Vactures hier inladen-->
            <a href="./vacatures">Overzicht vacatures</a> 
        </section>

</main>
<!-- Hier word de footer geinclude -->
<%- include('./partials/foot') %>