/* ROOTS & FONTS */
@font-face {
    font-family: "Medium";
    src: url("/fonts/Medium.otf") format("opentype");
  }
  
@font-face {
    font-family: "Bold";
    src: url("/fonts/Bold.otf") format("opentype");
  }
  
:root {
    --primary-color: rgb(97, 73, 216);
    --white: #fff;
    --grey: #aaa;
    --black: #202020;
  }

/* SUPPORTS VIEW TRANSITIONS */
@supports selector(view-transition-name) {
  @view-transition {
    navigation: auto;
  }
  :root {
    view-transition-name: none;
  }
  body {
    view-transition-name: page;
  }
}
  
/* ELEMENTEN */
body {
    font-family: "Medium", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
span {
    color: var(--primary-color);
    font-weight: bold;
  }

/* HEADER */
header a img {
    display: flex;
    justify-content: flex-start;
    margin: 0.6em;
    margin-left: 0.2em;
    font-size: 1.6em;
    width: 6em;
    height: auto; 
  }
  
.hamburger-menu {
    height: 0;
  }
  
/* Verberg de menu-toggle checkbox */
#menu-toggle {
    opacity: 0;
  }
  
/* Stijl voor het geanimeerde hamburger-menu */

/* Als het #menu-toggle element checked is, dan roteert de span binnen .menu-btn met 45 graden */
#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

/* Als het #menu-toggle element checked is, dan stelt de positie van de pseudo-element ::before in en roteert het met 0 graden */
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

/* Als het #menu-toggle element checked is, dan stelt de positie van de pseudo-element ::after in en roteert het met 90 graden */
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* Als het #menu-toggle element checked is, dan wordt de menu-box zichtbaar en plaatst deze aan het einde */
#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  inset-inline-end: 0;
}
  
/* Stijl voor de menu-knop */
.menu-btn {
    display: flex;
    position: fixed;
    align-items: center;
    top: 20px;
    inset-inline-end: 20px; /* Plaats de btn 20 pixels vanaf de rechterkant van zijn container in de inline-richting */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2; /* Zorgt ervoor dat menu knop zichtbaar blijft */
  }
  
/* Stijl voor de drie streepjes van het hamburger-menu */
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background-color: var(--black);
    transition-duration: 0.5s;
  }

.menu-btn > span::before {
    content: ""; /* Hamburger menu streepjes */
    top: -8px; /* Plaats de pseudo-element 8px boven de hoofdstreep */
  }
.menu-btn > span::after {
    content: ""; /* Hamburger menu streepjes */
    top: 8px; /* Plaats de pseudo-element 8px onder de hoofdstreep */
  }
  
/* Stijl voor de menu-box die verschijnt bij het klikken op de hamburger-menu */
.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    inset-inline-end: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--white);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition-duration: 0.6s;
    z-index: 1;
  }
  
/* Stijl voor de menu-items */
.menu-item {
    display: block;
    padding: 12px 24px;
    color: var(--black);
    font-size: 20px;
    font-weight: 600; 
    text-decoration: none; 
    transition-duration: 0.6s;
  }

.menu-item:hover {
    color: var(--primary-color);
  }  

/* MAIN index */
.main-index {
  min-height: 20em; 
  min-width: 24em; 
  position: relative; 
  background-size: cover; 
  background-position: 50% 50%; 
  background-image: url("/assets/main-index.svg");
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: -1; 
}

.main-index-wrapper {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  position: absolute;
  left: 0; 
  right: 0; 
  margin: 0 auto; 
  top: 8em; 
  width: 17em; 
  height: 16em; 
  padding: 2em; 
  border-radius: 16px; 
  border: 2px solid var(--grey); 
  background-color: var(--white); 
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
}

.main-index-wrapper h2 {
  margin: 0.2em 0;
}

.main-index-wrapper p {
  font-size: 1em; 
}

.main-index-wrapper a {
  display: block; 
  font-size: 1.2em; 
  margin: 0; 
  border-radius: 4px; 
  border: 2px solid var(--black); 
  padding: 0.5em; 
  color: var(--primary-color);
  text-decoration: none; 
  font-weight: bold; 
}

.main-index-wrapper a:hover {
  background-color: var(--primary-color); 
  color: var(--white); 
}

/* AGENCIES index */
.agencies {
  margin-top: 10em;
}

.main-index-article {
  padding: 2em;
  float: left;
  margin-left: 10px; 
  padding-left: 10px; 
}

.main-index-article a {
  display: block; 
  font-size: 1.2em; 
  margin: 0; 
  border-radius: 4px; 
  border: 2px solid var(--black); 
  padding: 0.5em; 
  float: left;
  color: var(--primary-color);
  text-decoration: none; 
  font-weight: bold;
  margin-top: 20px;
}

.main-index-article a:hover {
  background-color: var(--primary-color); 
  color: var(--white); 
}

/* VACTURES pagina */
.vacatures {
  padding: 0.5em;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
}

.vacatures article {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  max-width: 25em; 
  max-height: 40em;
  padding: 2em; 
  margin: 1px;
  border-radius: 16px; 
  border: 1px solid var(--grey); 
  background-color: var(--white); 
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.vacatures article h1 {
  font-size: 1.6em;
  margin: 0;
  color: var(--primary-color);
}

.vacatures article p {
  font-size: 1.2em;
  margin: 0.4em 0;
}

/* Datum geplaatst */
.vacatures article p:last-of-type {
  font-size: 1em;
  font-weight: bold;
}

.banner img {
  aspect-ratio: 16/16;
  width: 18em;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 0.8em;
  margin-bottom: 10px;
}

article a {
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  width: 12em;
  border-bottom: 2px solid var(--primary-color);
}

article a:hover {
  color: blue;
}

.main-index-article.vacatures .vacature-link {
  border: none;
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  width: 12em;
}

.main-index-article.vacatures .vacature-link:hover {
  color: blue;
  background-color: transparent;
}

/* MEDIA QUERIES VACATURES */
/* Voor kleine schermen (mobile first) */
@media (min-width: 600px) {
  .vacatures {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  footer {
    padding: 2em 10em;
  }
}

/* Voor middelgrote schermen (tablets) */
@media (min-width: 768px) {
  .vacatures {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  footer {
    padding: 2em 14em;
  }
}

/* Voor grote schermen (laptops en desktops) */
@media (min-width: 1024px) {
  .vacatures {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  footer {
    padding: 2em 26em;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
  background: rgb(106,99,246);
  background: linear-gradient(0deg, rgba(106,99,246,1) 0%, rgba(230,230,230,1) 53%, rgba(255,255,255,1) 72%);
}

.footer-logo, .footer-mail, .footer-partners {
  flex: 1;
  margin-right: 20px;
}

.footer-partners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  margin-left: 1em;
}

.footer-partners h2 {
  font-size: 1.2em;
  margin: 0.4em 0;
  color: var(--black);
  height: auto;
  margin-top: -5px;
}

.footer-partners a:hover {
  text-decoration: underline;
}

.footer-partners {
  margin: 0;
  font-size: 1.2em;
}

.footer-logo {
  margin-bottom: 1em; 
}

.footer-logo img {
  width: 6em;
  height: auto; 
  font-size: 1.6em;
}

.footer-logo-button {
  flex-direction: column;
}

.footer-button a {
  display: block; 
  font-size: 1.3em; 
  margin: 0; 
  border-radius: 4px; 
  border: 2px solid var(--black); 
  padding: 0.5em; 
  width: 6em;
  text-decoration: none; 
  color: var(--black); 
  text-align: center; 
  font-weight: bold;
}

.footer-button a:hover {
  background-color: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.footer-mail {
  margin-left: auto;
  padding: 6px;
}

.footer-mail .flex {
  display: flex;
  flex-direction: column;
}

.footer-mail h2 {
  font-size: 1.5em;
  color: var(--black);
  margin-bottom: 15px;
  margin-top: -5px;
}

.footer-mail fieldset {
  display: block; 
  font-size: 1.2em; 
  margin: 0; 
  border-radius: 4px; 
  border: 2px solid var(--black); 
  padding: 0.5em; 
  background-color: transparent; 
}

.footer-mail fieldset:hover {
  background-color: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.footer-mail .flex {
  display: flex;
  flex-direction: column;
}

.footer-mail p {
  margin: 0 0 15px;
}

.footer-mail input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.footer-mail input[type="text"]:focus {
  border-color: #0066cc;
  outline: none;
}

.footer-mail span {
  color: red;
  margin-left: 5px;
}

/* AGENCIES pagina */
.agencies-pagina {
  padding: 0.5em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.agencies-pagina li {
  list-style-type: none;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--grey);
  padding: 20px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.agencies-pagina h1 {
  font-size: 1.6em;
  color: var(--primary-color);
  margin: 0;
}

.agencies-pagina .description-agencies-pagina {
  margin-top: 10px;
  margin-bottom: 15px;
}

.agencies-pagina p {
  margin: 0;
  font-size: 16px
}

.agencies-pagina .banner-agencies-pagina img,
.agencies-pagina .logo-agencies-pagina img {
  aspect-ratio: 16/16;
    width: 18em;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 0.8em;
    margin-bottom: 10px;
}

.agencies-pagina .buttons-agencies-pagina {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.agencies-pagina .btn {
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.agencies-pagina .btn.secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.agencies-pagina .btn.secondary:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.agencies-pagina .btn.primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.agencies-pagina .btn.primary:hover {
  opacity: 0.8;
}